/* 
  CSS はてきとう！
*/

body {
  font-family: sans-serif;
}

/* inputに適応 */
input {
  border-radius: 16px;
  /* ボーダーなし */
  border: none;
  /* 内側の余白  縦　横　*/
  padding: 6px 16px;
  outline: none;
}

/* ボタンのデザイン */
button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-right: 4px;
}

/* マウスでホバーしたときのCSS */
button:hover {
  background-color: orange;
  color: white;
  /* マウスのカーソル変更 */
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  /* 内側の余白 */
  padding: 8px;
  /* 外側の余白 */
  margin: 8px;
  /* 角を丸くする */
  border-radius: 8px;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  /* 最小限の高さを指定 */
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  /* 中央ぞろえ */
  text-align: center;
  margin-top: 0px;
  /* 太字 */
  font-weight: bold;
  color: #666666;
}

.list-row {
  display: flex;
  padding-bottom: 4px;
}
